{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Weather Forecast</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/weatherPage.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
</head>


<body>
    <div class="container-fluid">
        <form id="weather-form" method="post" action="{% url 'weather' %}">
        {% csrf_token %}
            <div class="form-group">
                <label for="selectDistrict" >Select District</label>
                <select class="form-control" id="selectDistrict" name="selectDistrict">
                <option value="" selected="selected">Select District</option>
                    {% for district in districts %}
                        <option value="{{ district }}">{{ district }}</option>
                    {% endfor %}
                </select>

                <input type="submit" class="btn btn-success btn-lg btn-block" value="Get Weather Forecast">

            </div>
        </form>
    </div>

        <div class="result">
        <table class="table table-striped table-hover">
            <tbody>
            <tr class="table-info">
                <th>District Name</th>
                <td>{{ district_name }}</td>
            </tr>
            <tr class="table-info">
                <th>Longitude</th>
                <td>{{ district_name }}</td>
            </tr>
            <tr class="table-info">
                <th>Latitude</th>
                <td>{{ district_name }}</td>
            </tr>
            <tr class="table-info">
                <th>Weather Condition</th>
                <td>Clear</td>
            </tr>
            <tr class="table-info">
                <th>Weather description</th>
                <td>Clear</td>
            </tr>
            <tr class="table-info">
                <th>Temperature Now (Celsius)</th>
                <td>30 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Human perception of temperature (Celsius)</th>
                <td>30 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Minimum temperature (Celsius)</th>
                <td>25 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Maximum temperature (Celsius)</th>
                <td>45 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Atmospheric Pressure (mbar)</th>
                <td>45 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Humidity (%)</th>
                <td>45 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Visibility</th>
                <td>45 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Wind Speed (meter/second)</th>
                <td>45 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Wind Direction</th>
                <td>45 degrees</td>
            </tr>
            <tr class="table-info">
                <th>Cloud cover (%)</th>
                <td>20%</td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>